<div class="view intro-2">
    <div class="full-bg-img">
      <div class="mask rgba-purple-light flex-center">
        <div class="container text-center white-text wow fadeInUp">
          <h2>Little Miracles Childcare Center</h2>
          <br>
          <br>
          <p>
            Little Miracles is committed to providing your child with quality care by encouraging each child 
            to express themselves through language, art, music, and physical activity. 
            With the emphasis on learning through play, they gain knowledge and build 
            socialization and self-help skills that build up their self-esteem, which is 
            needed to succeed in all areas of life.
          </p>
          <br>
          <br>
          <button class="btn btn-unique waves-light">Contact Us</button>
          <button class="btn btn-unique waves-light">Directions</button>
        </div>
      </div>
    </div>
  </div>