<!-- Section: Team v.1 -->
<section class="team-section text-center my-5">

  <!-- Section heading -->
  <h2 class="h1-responsive font-weight-bold my-5">Our amazing team</h2>
  <!-- Section description -->
  <p class="grey-text w-responsive mx-auto mb-5">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
    Fugit, error
    amet numquam iure provident voluptate esse quasi,
    veritatis totam voluptas nostrum quisquam eum porro a pariatur veniam.</p>

  <!-- Grid row -->
  <div class="row">

    <!-- Grid column -->
    <div class="col-lg-3 col-md-6 mb-lg-0 mb-5">
      <div class="avatar mx-auto">
        <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20(20).jpg" class="rounded-circle z-depth-1"
          alt="Sample avatar">
      </div>
      <h5 class="font-weight-bold mt-4 mb-3">Jessica Baydoun</h5>
      <p class="text-uppercase blue-text">
        <strong>Owner</strong>
      </p>
      <p class="grey-text">Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur,
        adipisci sed
        quia non numquam modi
        tempora eius.</p>
    </div>
    <!-- Grid column -->

    <!-- Grid column -->
    <div class="col-lg-3 col-md-6 mb-lg-0 mb-5">
      <div class="avatar mx-auto">
        <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20(3).jpg" class="rounded-circle z-depth-1"
          alt="Sample avatar">
      </div>
      <h5 class="font-weight-bold mt-4 mb-3">Brittany Barrett</h5>
      <p class="text-uppercase blue-text">
        <strong>Director</strong>
      </p>
      <p class="grey-text">Sed ut perspiciatis unde omnis iste natus error sit voluptatem ipsa accusantium
        doloremque
        rem laudantium totam
        aperiam.</p>
    </div>
    <!-- Grid column -->

    <!-- Grid column -->
    <div class="col-lg-3 col-md-6 mb-md-0 mb-5">
      <div class="avatar mx-auto">
        <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20(30).jpg" class="rounded-circle z-depth-1"
          alt="Sample avatar">
      </div>
      <h5 class="font-weight-bold mt-4 mb-3">Lindsey Maynard</h5>
      <p class="text-uppercase blue-text">
        <strong>Assistant Director</strong>
      </p>
      <p class="grey-text">Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt
        mollit
        anim est fugiat nulla
        id eu laborum.</p>
    </div>
    <!-- Grid column -->

    <!-- Grid column -->
    <div class="col-lg-3 col-md-6">
      <div class="avatar mx-auto">
        <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20(32).jpg" class="rounded-circle z-depth-1"
          alt="Sample avatar">
      </div>
      <h5 class="font-weight-bold mt-4 mb-3">Allessandra Ford</h5>
      <p class="text-uppercase blue-text">
        <strong>Administrative Assistant</strong>
      </p>
      <p class="grey-text">Perspiciatis repellendus ad odit consequuntur, eveniet earum nisi qui consectetur
        totam
        officia voluptates perferendis
        voluptatibus aut.</p>
    </div>
    <!-- Grid column -->

  </div>
  <!-- Grid row -->

</section>
<!-- Section: Team v.1 -->

<!-- <div class="container">
<h2>About Us</h2>
<div class="card-outer-container">
  <div class="card-row">
    <div class="card-container col-lg-6">

      <mdb-card>

          <mdb-card-img
            class="img-thumbnail"
            src="https://images.unsplash.com/photo-1562123615-3f4882dba648?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80"
            alt="Card image cap"
          ></mdb-card-img>
          <a>
            <div class="mask"></div>
          </a>
        </div>

        <mdb-card-body cascade="true" class="text-center">

          <h5 class="pink-text">Jessica Baydoun</h5>

          <h4 class="card-title">Owner</h4>


          <button
            type="button"
            class="btn btn-unique waves-light"
            mdbWavesEffect
            (click)="ownerModal.show()"
          >
            Learn More
          </button>
        </mdb-card-body>

      </mdb-card>

    </div>

    <div class="card-container  col-lg-6">

      <mdb-card cascade="true" class="text-center">

        <div class="view view-cascade overlay waves-light" mdbWavesEffect>
          <mdb-card-img
            class="img-thumbnail"
            src="https://images.unsplash.com/photo-1562123615-3f4882dba648?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80"
          ></mdb-card-img>
          <a>
            <div class="mask rgba-white-slight"></div>
          </a>
        </div>


        <mdb-card-body cascade="true" class="text-center">

          <h5 class="pink-text">Brittany Barrett</h5>

          <h4 class="card-title">Director</h4>


          <button
            type="button"
            class="btn btn-unique waves-light"
            mdbWavesEffect
            (click)="directorModal.show()"
          >
            Learn More
          </button>
        </mdb-card-body>

      </mdb-card>

    </div>
  </div>
    <div class="card-row">
      <div class="card-container col-lg-6">

        <mdb-card cascade="true" narrower="true">

          <div class="view view-cascade overlay waves-light" mdbWavesEffect>
            <mdb-card-img
              class="img-thumbnail"
              src="https://images.unsplash.com/photo-1562123615-3f4882dba648?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80"
            ></mdb-card-img>
            <a>
              <div class="mask rgba-white-slight"></div>
            </a>
          </div>


          <mdb-card-body cascade="true" class="text-center">

            <h5 class="pink-text">Lindsey Maynard</h5>

            <h4 class="card-title">Assistant Director</h4>


            <button
              type="button"
              class="btn btn-unique waves-light"
              mdbWavesEffect
              (click)="directorModal.show()"
            >
              Learn More
            </button>
          </mdb-card-body>

        </mdb-card>

      </div>

      <div class="card-container col-lg-6">

        <mdb-card cascade="true" narrower="true">

          <div class="view view-cascade overlay waves-light" mdbWavesEffect>
            <mdb-card-img
              class="img-thumbnail"
              src="https://images.unsplash.com/photo-1562123615-3f4882dba648?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80"
            ></mdb-card-img>
            <a>
              <div class="mask rgba-white-slight"></div>
            </a>
          </div>


          <mdb-card-body cascade="true" class="text-center">

            <h5 class="pink-text">Allessandra Ford</h5>

            <h4 class="card-title">Administrative Assistant</h4>


            <button
              type="button"
              class="btn btn-unique waves-light"
              mdbWavesEffect
              (click)="directorModal.show()"
            >
              Learn More
            </button>
          </mdb-card-body>

        </mdb-card>

      </div>
    </div>
  </div> -->


<!-- <div
  mdbModal
  #ownerModal="mdbModal"
  class="modal fade"
  tabindex="-1"
  role="dialog"
  aria-labelledby="myBasicModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button
          type="button"
          class="close pull-right"
          aria-label="Close"
          (click)="ownerModal.hide()"
        >
          <span aria-hidden="true">×</span>
        </button>
        <h4 class="modal-title w-100" id="myModalLabel">Modal title</h4>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button
          type="button"
          mdbBtn
          color="secondary"
          class="waves-light"
          aria-label="Close"
          (click)="ownerModal.hide()"
          mdbWavesEffect
        >
          Close
        </button>
      </div>
    </div>
  </div>
</div>

<div
  mdbModal
  #directorModal="mdbModal"
  class="modal fade"
  tabindex="-1"
  role="dialog"
  aria-labelledby="myBasicModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button
          type="button"
          class="close pull-right"
          aria-label="Close"
          (click)="directorModal.hide()"
        >
          <span aria-hidden="true">×</span>
        </button>
        <h4 class="modal-title w-100" id="myModalLabel">Modal title</h4>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button
          type="button"
          mdbBtn
          color="secondary"
          class="waves-light"
          aria-label="Close"
          (click)="directorModal.hide()"
          mdbWavesEffect
        >
          Close
        </button>
      </div>
    </div>
  </div>
</div>
</div> -->